---
extends: default

rules:
  line-length:
    max: 260
    level: warning

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no', 'on', 'off']

  colons:
    max-spaces-after: 30

  braces:
    max-spaces-inside: 20

  commas:
    max-spaces-after: 20


  comments: disable
  comments-indentation: disable
  new-line-at-end-of-file: disable
